<div data-ng-mouseover="vm.hoveredCard = card" class="katz-card text-center panel panel-danger">
  <div class="panel-heading katz-font">{{ card.name }}</div>
  <div class="panel-body"><img class="img-responsive" data-ng-src="{{card.url}}"/></div>
</div>