<div class="col-md-12">
	<div class="katz-card panel-danger panel katz-font">
		<div class="panel-heading">{{ vm.title }}</div>
		<div data-ng-if="vm.opponents" class="panel-body">
			<p>Select an opponent to take a card from: (They choose the card themselves)</p>
			<div class="form-group">
				<select class="form-control" data-ng-model="selectedOpp" data-ng-options="opp.name for opp in vm.opponents">
				  <option value="">Select Opponent</option>
				</select>
				<p data-ng-if="selectedOpp">{{ selectedOpp.name }} has {{ selectedOpp.hand.length }} cards in their hand.</p>
			</div>
			<div class="form-group">
				<button data-ng-disabled="!selectedOpp" data-ng-click="vm.selectOpp(selectedOpp)" class="btn btn-success form-control">OK</button>
			</div>
		</div>
		<div data-ng-if="vm.giftedCard" class="panel-body">
			<div>{{ vm.favourOpp.name }} has given you:</div>
			<div class="col-md-3">
				<div class="katz-card text-center panel panel-danger">
				  <div class="panel-heading katz-font">{{ vm.giftedCard.name }}</div>
				  <div class="panel-body"><img class="img-responsive" data-ng-src="{{vm.giftedCard.url}}"/></div>
				</div>
			</div>
			<div class="form-group">
				<button data-ng-click="vm.close()" class="btn btn-success form-control">OK</button>
			</div>
		</div>
	</div>
</div>