<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Message</div>
		<div class="panel-body">
			<p>{{ vm.message }}</p>
			<div class="form-group">
				<button data-ng-click="vm.close()" class="btn btn-success form-control">OK</button>
			</div>
		</div>
	</div>
</div>