<div class="col-md-12">
	<div class="katz-card panel-danger panel katz-font">
		<div class="panel-heading">Revive Discarded</div>
		<div class="panel-body">
			<p>You have played five different cards! Please select 1 card from the discard pile to add to your hand.</p>
			<div class="form-group">
				<select class="form-control" data-ng-model="selectedCard" data-ng-options="card.name for card in vm.discardPile">
					<option value="">Select Card</option>
				</select>
			</div>
			<div data-ng-if="selectedCard" class="col-md-3">
				<div class="katz-card text-center panel panel-danger">
				  <div class="panel-heading katz-font">{{ selectedCard.name }}</div>
				  <div class="panel-body"><img class="img-responsive" data-ng-src="{{ selectedCard.url }}"/></div>
				</div>
			</div>
			<div class="form-group">
				<button data-ng-click="vm.takeCard(selectedCard)" class="btn btn-success form-control">Confirm Selection</button>
			</div>
		</div>
	</div>
</div>