<div class="col-md-12">
	<div class="katz-card panel-danger panel katz-font">
		<div class="panel-heading">See the future</div>
		<div class="panel-body">
			<p>Viewing the top 3 cards of the deck</p>
			<div data-ng-repeat="card in vm.firstThree" class="col-md-3">
				<div class="katz-card text-center panel panel-danger">
				  <div class="panel-heading katz-font">{{ card.name }}</div>
				  <div class="panel-body"><img class="img-responsive" data-ng-src="{{card.url}}"/></div>
				</div>
			</div>
			<div class="form-group">
				<button data-ng-click="vm.close()" class="btn btn-success form-control">OK</button>
			</div>
		</div>
	</div>
</div>