<div class="col-md-12">
	<div class="katz-card panel-danger panel katz-font">
		<div class="panel-heading katz-large-text">Shuffle</div>
		<div class="panel-body">
			<p>Shuffled Deck</p>
			<img src="src/content/images/misc/shuffle.gif" class="img-responsive img-rounded"/>
			<div class="form-group">
				<button data-ng-click="vm.close()" class="btn btn-success form-control">OK</button>
			</div>
		</div>
	</div>
</div>