<div class="col-md-12">
	<div class="katz-card panel-danger panel katz-font">
		<div class="panel-heading">Snatch a named Card!</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Select an opponent to take a card from</label>
				<select class="form-control" data-ng-model="selectedOpp" data-ng-options="opp.name for opp in vm.opponents">
				  <option value="">Select Opponent</option>
				</select>
			</div>
			<div class="form-group">
				<label>Name a card</label>
				<select class="form-control" data-ng-model="selectedCard" data-ng-options="card.name for card in vm.allCards">
				  <option value="">Select card</option>
				</select>
			</div>
			<div data-ng-if="selectedCard" class="col-md-3">
				<div class="katz-card text-center panel panel-danger">
				  <div class="panel-heading katz-font">{{ selectedCard.name }}</div>
				  <div class="panel-body"><img class="img-responsive" data-ng-src="{{ selectedCard.url }}"/></div>
				</div>
			</div>
			<div class="form-group">
				<button data-ng-click="vm.nameOpponentAndCard(selectedOpp,selectedCard)" data-ng-disabled="!selectedOpp && !selectedCard" class="btn btn-success form-control">Confirm Selection</button>
			</div>
		</div>
	</div>
</div>