/**
	Main Stylesheet
*/

.jumbotron {
	border-radius: 0px !important;
	background-color:#ec7627 !important;
	padding-top: 0px !important;
	padding-bottom: 15px !important;
}

.katz-font {
	font-family:Century Gothic, sans-serif;
}


.katz-card.panel-danger.panel {
	border: 2px solid #a94442;
}

.katz-card.panel-danger > .panel-heading {
	color:white;
	padding:0px;
	background-color:#a94442;
	border-color: #a94442;
	border-radius:0px;
}

.modal-content {
	border:none;
}