<div data-ng-controller="CoreController as vm">
	<div class="row">
		<div class="katz-user-panel bg-primary col-md-3">
			<div class="katz-card-hovered row">
				<div class="col-md-6">
					<div data-ng-if="vm.hoveredCard" class="katz-card text-center panel panel-danger">
					  <div class="panel-heading katz-font">{{ vm.hoveredCard.name }}</div>
					  <div class="panel-body"><img class="img-responsive" data-ng-src="{{vm.hoveredCard.url}}"/></div>
					</div>
				</div>
				<div class="col-md-6">
					<em class="katz-font" data-ng-bind="vm.hoveredCard.description"></em>
				</div>
			</div>
			<div class="katz-ui">
				<div class="form-group">
					<button data-ng-click="vm.activate()" class="btn btn-success form-control">New Game</button>
				</div>
				<div class="form-group">
					<button data-ng-click="vm.stop()" class="btn btn-success form-control">Stop</button>
				</div>
			</div>
		</div>
		<div class="bg-success col-md-9">
			<div data-ng-if="vm.loading" class="katz-loading container">
				<i class="fa fa-spinner fa-spin fa-5x"></i>
				<h1>Loading Game</h1>
			</div>
			<div data-ng-if="!vm.loading" class="gameplay">
				<div class="row">
					<div data-ng-repeat="n in [1,2,3,4]" class="col-md-3 bg-success">
						<p>AI Player {{ n }}'s hand (<span data-ng-bind="vm.getHandSize(n)"></span>)</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9 bg-danger">
						<p>Selected Card(s)</p>
						<div data-ng-repeat="sc in vm.getYourHand() | filter: {_selected : true} as selectedCards" data-ng-click="vm.toggleSelectCard(sc)" class="col-md-3">
							<div class="katz-card text-center panel panel-danger">
							  <div class="panel-heading katz-font">{{ sc.name }}</div>
							  <div class="panel-body"><img class="img-responsive" data-ng-src="{{sc.url}}"/></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 bg-warning">
						<p>Deck(<span data-ng-bind="vm.deckLength()"></span>)</p>
						<button data-ng-click="vm.viewDiscardPile()" class="btn btn-success form-control">View Discard Pile (<span data-ng-bind="vm.discardLength()"></span>)</button>
					</div>
				</div>
				<div class="bg-success">
					<span>Your Hand (<span data-ng-bind="vm.getHandSize(0)"></span>)</span>
					<div class="btn-group">
						<button data-ng-disabled="!selectedCards.length" data-ng-click="vm.playCards(selectedCards)" class="btn btn-success">Play Card(s)</button>
						<button data-ng-click="vm.dealToPlayer(0)" class="btn btn-success">Draw from Deck</button>
					</div>
					<div class="katz-card-horiz">
						<div data-ng-repeat="card in vm.getYourHand()" data-ng-if="vm.getYourHand().length" data-ng-click="vm.toggleSelectCard(card)" class="col-md-2">
							<div data-ng-include="'src/app/core/partials/card.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>